[Unit]
Description=FOLIO mod-courses service
PartOf=folio-mod-courses.target
After=folio-okapi.target
After=network-online.target
After=postgres.service
Requires=network-online.target
Wants=folio-okapi.target
Wants=postgres.service
# Folio module dependencies
After=folio-mod-inventory-storage.target
Wants=folio-mod-inventory-storage.target

[Service]
Type=exec
EnvironmentFile=/etc/folio/mod-courses/dbcredentials.env
EnvironmentFile=/etc/folio/mod-courses/okapi_connect.env
EnvironmentFile=/etc/folio/mod-courses/module.env
Environment=PORT="%i"
User=folio-mod-courses
Group=folio-mod-courses
SyslogIdentifier=folio-modcr

# Starting routines
ExecStartPre=+/usr/share/folio/libmods/bin/board on
ExecStart=/bin/sh -c "/usr/bin/java -Dhttp.port=$PORT $JAVA_OPTIONS \
          -jar /usr/share/folio/mod-courses/lib/mod-courses-fat.jar"
ExecStartPost=/usr/share/folio/libmods/bin/call_tower signon

# Stopping routines
ExecStop=/usr/share/folio/libmods/bin/call_tower signoff
# The Java process will be terminated by Systemd itself

# Execute after java has terminated
# Signoff again in case something went wrong
ExecStopPost=/usr/share/folio/libmods/bin/call_tower signoff
ExecStopPost=+/usr/share/folio/libmods/bin/board off

WorkingDirectory=/var/lib/folio/mod-courses

# JVM exits with code 128+15 on default SIGTERM
SuccessExitStatus=143

# Send SIGKILL 90 seconds (systemd default) after SIGTERM has been issued 
TimeoutStopSec=30

# Wait 2 seconds before restarting, unless the restart has been issued 3 times 
# within one minute, which would indicate a persistent grave problem
Restart=always
RestartSec=2
StartLimitBurst=3
StartLimitInterval=60

# Because some dev thought it a great idea to grab a global hardcoded
# vert.x cache directory for whoever takes it first, we have to sandbox here,
# in case other java processes are using vert.x too.
PrivateTmp=true

[Install]
WantedBy=folio-mod-courses.target
